.portfolio-main-p_products{
  display: grid;
  grid-auto-rows: 337px;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  justify-content: space-evenly;
}
.portfolio-main-p_product_unit {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
.portfolio-main-p_product_img {
  width:  250px;
  height: 250px;
  border-radius: 5px 5px 0 0;
  vertical-align: top;
}
.portfolio-main-p_product_text {
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
.portfolio-main-p_product_name {
  font-weight: 500;
  line-height: 20px;
}
.portfolio-main-p_product_date {
  font-size: 14px;
  line-height: 15px;
  color: #BBBBBB;
  vertical-align: top;
  margin-bottom: 5px;
}
.portfolio-main-p_prodacut_tag {
  padding: 0 5px;
  background-color: rgb(199, 221, 202);
  border-radius: 5px;
}
