<div class="portfolio-l-tabs">
  <%= link_to(products_path, class: "portfolio-tab-c_item #{'portfolio-tab-c_item_active' if current_page?(products_path)}") do %>
    <div class="portfolio-tab-c_item_text">PRODUCTS</div>
  <% end %>

  <%= link_to(profile_path, class: "portfolio-tab-c_item  #{'portfolio-tab-c_item_active' if current_page?(profile_path)}") do %>
    <div class="portfolio-tab-c_item_text">ABOUT ME</div>
  <% end %>

  <%= link_to(contact_path, class: "portfolio-tab-c_item  #{'portfolio-tab-c_item_active' if current_page?(contact_path)}") do %>
    <div class="portfolio-tab-c_item_text">CONTACT</div>
  <% end %>
</div>